aside {
    margin: 10px;
    background: $card-background;
    padding: 20px 15px;
    border-radius: $radius;
    display: flex;
    justify-content: center;
    height: 97vh;

    figure {
        .no-text {
            display: none;

            @include ipad {
                display: block;
                width: 40px;
            }
        }

        img {
            max-width: 130px;
            cursor: pointer;

            @include ipad {
                display: none;
            }
        }

        nav {
            display: flex;
            flex-direction: column;
            gap: 30px;
            margin-top: 30px;

            a {
                display: flex;
                gap: 10px;
                align-items: center;

                i {
                    @include ipad {
                        font-size: 25px;
                    }
                }

                span {
                    @include ipad {
                        display: none;
                    }
                }
            }
        }
    }
}